# No dot-directories except github
.*/
!.github/
/.project

*.code-workspace
node_modules
nbproject
debug
test.js
possibleErrorCodes.txt

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

.commitinfo